<p class="text-2xl">Your Account</p>
<div class="w-full">
    <a class="link-o" href="{{ path('account') }}">Data</a>
</div>
<div class="w-full">
    <a class="link-o" href="#">Addresses</a>
</div>
<div class="w-full">
    <a class="link-o" href="#">Orders</a>
</div>
<div class="w-full">
    <a class="link-o" href="#">Change Password</a>
</div>
