{% extends 'base.html.twig' %}

{% block subtitle %}Login
{% endblock %}
{% block body %}
    <div class="flex justify-center text-center">
        <form method="post">
            <h3 class="mb-3">Please sign in</h3>

            <div class="row">
                <label for="inputEmail">Email</label>
                <input type="email" value="{{ last_username ?? '' }}" name="email" id="inputEmail" class="my-1 bg-gray-200 px-3 py-1 rounded" placeholder="Email" required autofocus>
            </div>

            <div class="row">
                <label for="inputPassword">Password</label>
                <input class="my-1 bg-gray-200 px-3 py-1 rounded" id="inputPassword" name="password" placeholder="Password" required type="password">
            </div>

            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

            <div class="checkbox my-1">
                <label>
                    <input name="_remember_me" type="checkbox">
                    Remember me
                </label>
            </div>

            <button class="btn-b" type="submit">
                Sign in
            </button>
        </form>
    </div>
{% endblock %}
