{% extends 'base.html.twig' %}

{% block subtitle %}Login
{% endblock %}
{% block body %}
    <form method="post">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        <h3 class="">Please sign in</h3>
        <label class="sr-only" for="inputEmail">Email</label>
        <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" placeholder="Email" required autofocus>
        <label class="sr-only" for="inputPassword">Password</label>
        <input class="form-control" id="inputPassword" name="password" placeholder="Password" required type="password">

        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

        <div class="checkbox mb-3">
            <label>
                <input name="_remember_me" type="checkbox">
                Remember me
            </label>
        </div>

        <button class="btn btn-lg btn-primary" type="submit">
            Sign in
        </button>
    </form>
{% endblock %}
