<ul class="list-none flex items-stretch">
    <li class="mx-2 my-1">
        {{ include('templates/home.html.twig') }}
    </li>
    <li class="mx-2 my-1">
        {{ include('templates/auth.html.twig') }}
    </li>
</ul>
