{% extends 'templates/index.html.twig' %}
{% block index %}
    <body class="font-mono text-base">
        <div class="container mx-auto">
            {{ include('templates/nav.html.twig') }}
            <div class="my-4">
                {{ include('templates/messages.html.twig') }}
                {% block body %}{% endblock %}
            </div>
        </div>
        {% block javascripts %}
            {{ encore_entry_script_tags('js/app') }}
            {% block sub_js %}{% endblock %}
        {% endblock %}
    </body>
{% endblock %}
